# Hamoye Introduction to Python for Machine Learning Quiz

In [1]:
# import libraries
import pandas as pd
import numpy as np
import operator
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load your data
df_FoodBalanceSheet = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
df_FoodBalanceSheet.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df_FoodBalanceSheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
df_FoodBalanceSheet.shape

(60943, 12)

In [6]:
df_FoodBalanceSheet.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

## Question 2

In [7]:
missing_data = df_FoodBalanceSheet[['Y2014']].isnull().sum()
total_missing = missing_data.sum()
total_data_points = df_FoodBalanceSheet[['Y2014']].count().sum()
percentage_missing = (total_missing / total_data_points) * 100
print(f'Total number of missing values: {total_missing}')
print(f'Percentage of missing data (rounded to 3 decimal places): {percentage_missing:.3f}%')

Total number of missing values: 1589
Percentage of missing data (rounded to 3 decimal places): 2.677%

## Question 4.

In [8]:
df_FoodBalanceSheet.shape

(60943, 12)

## Question 5

In [9]:
total_unique_countries = df_FoodBalanceSheet['Area'].nunique()
total_unique_countries

49

## Question 7

In [10]:
# get the columns
columns = df_FoodBalanceSheet[['Y2017', 'Area']]
# Calculating sum
area_sum = columns.groupby('Area')['Y2017'].sum()
# get the area
area_with_highest_sum = area_sum.idxmax()
area_with_highest_sum

'Nigeria'

## Question 9

In [11]:
# get the columns
column_element = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Calculate correlations
correlations = df_FoodBalanceSheet[column_element].corr(method='pearson')

# Find year with least correlation to 'Element Code'
least_year = correlations['Element Code'].idxmin()

print("The year with least correlation to Element Code is:", least_year)

The year with least correlation to Element Code is: Y2016

## Question 10

In [12]:
# Select the columns
columns_group = ['Item', 'Y2015', 'Y2018']

# Group by 'Item' and sum
wine_production = df_FoodBalanceSheet[columns_group].groupby('Item').agg({'Y2015': 'sum', 'Y2018': 'sum'})

# Extracting the sum of Wine produced in 2015 and 2018 respectively
wine_production_for_2015 = wine_production.loc['Wine', 'Y2015']
wine_production_for_2018 = wine_production.loc['Wine', 'Y2018']

print("Total Wine produced in 2015:", wine_production_for_2015)
print("Total Wine produced in 2018:", wine_production_for_2018)

Total Wine produced in 2015: 4251.81
Total Wine produced in 2018: 4039.32

## Question 11

In [13]:
x = df_FoodBalanceSheet.groupby(['Area', 'Element'])['Y2015'].sum()
   
# Use a tuple to specify both 'Area' and 'Element' as index
value = x.loc[('Madagascar', 'Protein supply quantity (g/capita/day)')]

print(value)

173.05

## Question  12

In [14]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

## Question 13

In [15]:
# Group 'Area' and sum 'Y2017' columns
grouped = df_FoodBalanceSheet.groupby('Area')['Y2017'].sum()

# Sort sums in ascending order
sorted_sums = grouped.sort_values(ascending=True)

# Select area with 7th lowest sum
seventh_lowest_sum = sorted_sums.index[6]

print("The Area with 7th lowest sum in 2017:", seventh_lowest_sum)

The Area with 7th lowest sum in 2017: Guinea-Bissau

## Question 15

In [16]:
# Group the Element and calculate the sum for each year
element_group = df_FoodBalanceSheet.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find year with highest sum of Stock Variation
highest_stock_variation = element_group.loc['Stock Variation'].idxmax()

print("Year with the highest sum of Stock Variation is:", highest_stock_variation)

Year with the highest sum of Stock Variation is: Y2014

## Question 16

In [17]:
data = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
columns = ['Age', 'Nationality', 'Overall']
df = pd.DataFrame(data, columns=columns)
print(df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

## Question 17

In [18]:
# get the sum for processing
total_processing = df_FoodBalanceSheet[df_FoodBalanceSheet['Element'] == 'Processing']['Y2017'].sum()

print(f'Total sum of Processing in 2017: {total_processing}')

Total sum of Processing in 2017: 292836.0

## Question 18

In [19]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

## Question 19

In [20]:
# get the mean and Standard Deviation
mean = df_FoodBalanceSheet['Y2017'].mean()
std = df_FoodBalanceSheet['Y2017'].std()

# Rounding to 2 decimal places
mean = round(mean, 2)
std = round(std, 2)

print(f"Mean for 2017: {mean}")
print(f"Standard Deviation for 2017: {std}")

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86