In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("energydata_complete.csv")

In [ ]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
df.drop('date', inplace=True, axis=1)

In [ ]:
columns = df.columns
columns

Index(['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4',
       'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9',
       'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
for col in columns:
    df[col] = df[col].round(2)

In [ ]:
df

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.60,19.20,44.79,19.79,44.73,19.00,45.57,...,17.03,45.53,6.60,733.5,92.00,7.00,63.00,5.30,13.28,13.28
1,60,30,19.89,46.69,19.20,44.72,19.79,44.79,19.00,45.99,...,17.07,45.56,6.48,733.6,92.00,6.67,59.17,5.20,18.61,18.61
2,50,30,19.89,46.30,19.20,44.63,19.79,44.93,18.93,45.89,...,17.00,45.50,6.37,733.7,92.00,6.33,55.33,5.10,28.64,28.64
3,50,40,19.89,46.07,19.20,44.59,19.79,45.00,18.89,45.72,...,17.00,45.40,6.25,733.8,92.00,6.00,51.50,5.00,45.41,45.41
4,60,40,19.89,46.33,19.20,44.53,19.79,45.00,18.89,45.53,...,17.00,45.40,6.13,733.9,92.00,5.67,47.67,4.90,10.08,10.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.57,46.56,25.89,42.03,27.20,41.16,24.70,45.59,...,23.20,46.79,22.73,755.2,55.67,3.33,23.67,13.33,43.10,43.10
19731,90,0,25.50,46.50,25.75,42.08,27.13,41.22,24.70,45.59,...,23.20,46.79,22.60,755.2,56.00,3.50,24.50,13.30,49.28,49.28
19732,270,10,25.50,46.60,25.63,42.77,27.05,41.69,24.70,45.73,...,23.20,46.79,22.47,755.2,56.33,3.67,25.33,13.27,29.20,29.20
19733,420,10,25.50,46.99,25.41,43.04,26.89,41.29,24.70,45.79,...,23.20,46.82,22.33,755.2,56.67,3.83,26.17,13.23,6.32,6.32
19734,430,10,25.50,46.60,25.26,42.97,26.82,41.16,24.70,45.96,...,23.20,46.84,22.20,755.2,57.00,4.00,27.00,13.20,34.12,34.12

Question 17: What is the Root Mean Squared error in three D.P?

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


x = df["T2"].values
y = df["T6"].values

# Reshape the data
x = x.reshape(-1, 1)
y = y.reshape(-1, 1)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the data
model.fit(x, y)

# Make predictions using the model
predictions = model.predict(x)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y, predictions))

# Print the RMSE with three decimal places
print(f'Root Mean Squared Error (RMSE): {rmse:.3f}')

Root Mean Squared Error (RMSE): 3.645

Question 18: What is the Mean Absolute Error (in three decimal places) for the  training set?

In [ ]:
df.drop('lights', inplace=True, axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error


x = df.drop('Appliances', axis=1)
y= df["Appliances"]

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the scaler on the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data using the same scaler
X_test_scaled = scaler.transform(X_test)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train_scaled, y_train)

# Make predictions on the training set
train_predictions = model.predict(X_train_scaled)

# Calculate the Mean Absolute Error (MAE) on the training set
mae_train = mean_absolute_error(y_train, train_predictions)

# Print the MAE with three decimal places
print(f'Mean Absolute Error (MAE) of the training set: {mae_train:.3f}')

Mean Absolute Error (MAE) for the training set: 53.742

Question 19:What is the Root Mean Squared Error (in three decimal places) for the training set?

In [ ]:
#Calculate RMSE on training set
rmse = np.sqrt(mean_squared_error(y_train, train_predictions))
rmse

95.21492244510539

Question 20: What is the Mean Absolute Error (in three decimal places) for test set?

In [ ]:
# Make predictions on the test set
test_predictions = model.predict(X_test_scaled)

# Calculate the Mean Absolute Error (MAE) on the test set
mae_test = mean_absolute_error(y_test, test_predictions)

# Print the MAE with three decimal places
print(f'Mean Absolute Error (MAE) for the test set: {mae_test:.3f}')

Mean Absolute Error (MAE) for the test set: 53.641

Question 21: What is the Root Mean Squared Error (in three decimal places) for test set?

In [ ]:
# Calculate the Mean Squared Error (MSE) on the test set
mse_test = np.sqrt(mean_squared_error(y_test, test_predictions))
print(f"RMSE for test set: {mse_test:.3f}")

RMSE for test data 93.640

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
import numpy as np

# ...

# Create a Ridge regression model with default parameters
ridge_model = Ridge()

# Fit the Ridge model to the training data
ridge_model.fit(X_train_scaled, y_train)

# Make predictions on the training set
train_predictions = ridge_model.predict(X_train_scaled)

# Calculate the Mean Absolute Error (MAE) on the training set
mae_train = mean_absolute_error(y_train, train_predictions)

# Calculate the Root Mean Squared Error (RMSE) on the training set
rmse_train = np.sqrt(mean_squared_error(y_train, train_predictions))

# Print the MAE and RMSE with three decimal places for the training set
print(f'Mean Absolute Error (MAE) for the training set: {mae_train:.3f}')
print(f'RMSE for training set: {rmse_train:.3f}')

# Make predictions on the test set
test_predictions = ridge_model.predict(X_test_scaled)

# Calculate the Mean Absolute Error (MAE) on the test set
mae_test = mean_absolute_error(y_test, test_predictions)

# Calculate the Root Mean Squared Error (RMSE) on the test set
rmse_test = np.sqrt(mean_squared_error(y_test, test_predictions))

Mean Absolute Error (MAE) for the training set: 53.629
RMSE for training set: 95.259

In [ ]:
# Print the MAE and RMSE with three decimal places for the test set
print(f'Mean Absolute Error (MAE) for the test set: {mae_test:.3f}')
print(f'RMSE for test set: {rmse_test:.3f}')

Mean Absolute Error (MAE) for the test set: 53.572
RMSE for test set: 93.708

Question 24:How many of the features have non-zero feature weights?

In [ ]:
from sklearn.linear_model import Lasso

# Create a Lasso regression model with default alpha (alpha=1.0)
lasso_model = Lasso()

# Fit the Lasso model to the training data
lasso_model.fit(X_train_scaled, y_train)

# Obtain the feature coefficients (weights)
feature_weights = lasso_model.coef_

# Count the number of features with non-zero weights
non_zero_features = sum(feature_weights != 0)

print(f'Number of features with non-zero weights: {non_zero_features}')

Number of features with non-zero weights: 4